<div class="pagination-table-size-selector">
	<label id="table-page-size-label" for="split-button" translate>PAGINATION.ITEMS_PER_PAGE</label>
	<div class="btn-group" uib-dropdown>
		<input type="number" id="split-button" class="btn btn-default"
			ng-model="tableSizeSelect" 
			ng-blur="qui.pagination.setTableSize()"
			ng-keyup="$event.keyCode == 13 && qui.pagination.setTableSize()" />
		<button type="button" class="btn btn-default" uib-dropdown-toggle>
			<span class="caret"></span>
			<span class="sr-only" translate>PAGINATION.ITEMS_PER_PAGE_OPEN_DROPDOWN</span>
		</button>
		<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="table-page-size-label">
			<li role="menuitem" ng-repeat="k in qui.pagination.tableSizeOpts">
				<a href ng-click="qui.pagination.setTableSize(k)">{{k}}</a></li>
		</ul>
	</div>
</div>