<h1 translate="RULES.RULE_LIST"></h1>
<div ng-controller="BrowseController">
  <table ng-if="rules.length" class="table table-striped table-condensed">
	<thead>
	  <tr>
		<td translate="RULES.RULE_ID"></td>
		<td translate="RULES.RULE"></td>
		<td translate="RULES.KIND"></td>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="(rid, rule) in rules">
		<td>{{ rid }}</td>
		<td><code ng-bind-html="rule | formatRule"></code></td>
		<td>{{ 'RULES.' + rule.kind | uppercase | translate }}</td>
	  </tr>
	</tbody>
  </table>
</div>
