<h1 translate="RULES.RULE_LIST"></h1>
<div ng-controller="BrowseController">
  <table ng-if="rules.length" class="table table-striped table-condensed">
	<tbody>
	  <tr ng-repeat="rule in rules">
		<td><div ng-if="rule.desc"><emph>{{ rule.desc }}</emph></div>
		  <br ng-if="rule.desc"><code ng-bind-html="rule | formatRule"></code></td>
		<td>{{ 'RULES.' + rule.kind | uppercase | translate }}</td>
		<td><a ng-href="{{ rule | linkToRule }}" translate=RULES.CONSEQUENCES/></td>
	  </tr>
	</tbody>
  </table>
</div>
