<h1 translate="RULES.CONSEQUENCES"></h1>
<div ng-controller="ConsequencesController">
  <table ng-if="statements !== null" class="table table-striped">
	<thead>
	  <tr>
		<th>subject</th>
		<th>property</th>
		<th>value</th>
	  </tr>
	</thead>
	<tbody ng-repeat="(property, claims) in statements.statements">
	  <tr ng-repeat="claim in claims">
		<td><a ng-href="#/view?id={{ claim.proposalFor }}">{{ claim.proposalFor }}</a></td>
		<td><a ng-href="#/view?id={{ property }}">{{ property }}</a></td>
		<td><a ng-href="#/view?id={{ claim.mainsnak.datavalue.value | linkToEntity }}">
			{{ claim.mainsnak.datavalue.value | linkToEntity }}
		</a></td>
	  </tr>
	</tbody>
  </table>
</div>
