<div class="row">
	<div class="mainbar col-lg-9 col-md-12 col-sm-12">
	<h1>About SQID</h1>
	<p>SQID is a project of the <a href="https://ddll.inf.tu-dresden.de/web/Knowledge_Systems/en">Knowledge Systems Group</a> of <a href="https://tu-dresden.de/">TU Dresden</a>. Developers include Markus Krötzsch, Michael Günther and Markus Damm.</p>
	<p>SQID is programmed in JavaScript with additional server-side code in Java and Python to extract, query, and preprocess data.
	</p>
	<h2>What does SQID mean?</h2>
	<p>The origin of the name is unknown, but it seems to be an abbreviation of something. 
	Current hypotheses include:
	<ul>
		<li>Searching, Querying, and Interacting with Data</li>
		<li>Sweet QIDs</li>
		<li>SPARQL Querying Isn't Difficult</li>
		<li>Surprisingly Quick Information Display</li>
		<li>See Quality In Data</li>
    </ul>
    Another possible theory is that the name is indeed inspired by the high intelligence, amazing social skills,
    and sharp vision that are characteristic for many <a href="https://en.wikipedia.org/wiki/Cephalopoda">cephalopods</a> and Wikidata editors alike.
    <p>
    <h2>Where can I make comments and contributions?</h2>
    <p>All code is found in our <a href="https://github.com/Wikidata/WikidataClassBrowser/">public repository</a>. Bugs and wishes are best reported by <a href="https://github.com/Wikidata/WikidataClassBrowser/issues">submitting an issue there</a>. Pull requests are welcome.
    </p>
  </div>
  <div class="sidebar col-md-3 col-md-12 col-sm-12">
  <sqid-image file="'Squid_komodo.jpg'" width="260"></sqid-image>
  <div style="text-align: center; width: 100%; ">Please don't eat me.</div>
  </div>
</div>
