<!-- <h1>Data Example</h1>

<div class="alert alert-warning" role="alert">This is only an example to show the paring of the CSV files. It is not the proposed content for this site.
<br/><b>Note:</b> table is to large -> unwanted resizing</div>
 -->
<div ng-controller="TableController">
	<div class="row">
	    <div class="col-xs-9 mainbar" ng-controller="PaginationController">
	<!--         <div id="typeSelector" class="btn-group btn-group-lg" role="group" aria-label="...">
	            <button type="button" class="btn btn-default active">Classes</button>
	            <button type="button" class="btn btn-default">Properties</button>
	        </div> -->
	      <div>
	        <div class="browsing-table">
	        	<table class="table table-condensed">
					<thead>
						<tr id="head-browse">
							<th ng-repeat="hitem in tableHeader" class="{{hitem[1]}}">{{hitem[0]}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in pagination.activeIndex">
							<td ng-repeat="elem in item track by $index" ng-bind-html="elem | to_trusted"></td>
						</tr>
					</tbody>
				</table>
	        </div>
	        <nav id="pageSelector">
	          <ul class="pagination">
	            <li ng-class="{ disabled: pagination.nav.prevLiDisabled(), 'my-custom-class': true }">
	              <a href="" ng-click="pagination.nav.selectPrev()" aria-label="Previous">
	                <span aria-hidden="true">&laquo;</span>
	              </a>
	            </li>
	            <li ng-repeat="page in pagination.nav.pages" ng-class="pagination.nav.liClass(page)">
	              <a href="" ng-click="pagination.nav.selectPage(page)">{{page}}</a>
	            </li>
	            <li ng-class="[pagination.nav.nextLiClass(), 'my-custom-class']">
	              <a href="" ng-click="pagination.nav.selectNext()" aria-label="Next">
	                <span aria-hidden="true">&raquo;</span>
	              </a>
	            </li>
	          </ul>
			</nav>
			<div>Entities {{pagination.fromItem}} - {{pagination.toItem}}</div>
			<div><strong>Total number of entities: </strong>{{pagination.numItems}}</div>
	      </div>
	    </div>
	    <div class="col-xs-3">
			<div id="filter-menue">
				<h3>Filter Controls</h3>
				<div class="form-group">
					<input type="text" class="form-control input-md" placeholder="Filter labels" ng-model="filterLabels" ng-change="searchFilter()" />
				</div>
				<!--<div ng-slider id="slider-range" someattr="{{slider[0].from}}" index="slider[0].from" begin="0" end="1000">-->
				<div ng-if='args.type == "properties"'>
					<p><strong>Select datatype:</strong></p>
					<select class="form-control" data-ng-options="datatypeOption.name for datatypeOption in datatypeSelector.options track by datatypeOption.id" ng-model="datatypeSelector.selected" ng-change="setDatatypeFilter(datatypeSelector.selected)">
					</select>
			      	<br/>
				</div>
				<div ng-repeat="elem in slider track by $index">
					<p><strong>{{elem.name}}:</strong></p>
					<div ng-slider id="slider-range" someattr="elem.from" index="$index" begin="elem.from" end="elem.to" startval="elem.startVal" endval="elem.endVal"></div>
					<br/>
					<div class="pull-left">{{ slider[$index].startVal }}</div>
					<div class="pull-right">{{ slider[$index].endVal }}</div>
					<br/><br/>
				</div>
				<button type="button" class="btn btn-default form-margin-buttom" ng-click="resetFilters()">Reset Filters</button>
				<br/>
				<p class="pull-left"><strong>Link with filter states:</strong></p>
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<div class="col-xs-10">
							<input type="text" class="form-control input-monospace input-md col-xs-8" id="permalink" value="{{filterPermalink}}" readonly="">
						</div>
						<div class="col-xs-2">
							<button type="button" id="ctc-button" class="btn btn-default" ng-click="copyToClipboard()"><i class="fa fa-clipboard"></i></button>
						</div>
					</div>
				</form>
			</div>
			<hr/>
		</div>
	</div>
</div>