<h1>Data Example</h1>

<div class="alert alert-warning" role="alert">This is only an example to show the paring of the CSV files. It is not the proposed content for this site.
<br/><b>Note:</b> table is to large -> unwanted resizing</div>

<div ng-controller="MyController">
	<table class="table table-condensed/416741">
	<thead>
      <tr>
        <th ng-repeat="hitem in classesForClasses.getClasses()[0]">{{hitem}}</th>
      </tr>
    </thead>
    <tbody>
    	<tr ng-repeat="entry in classesForClasses.getClasses(1, 12) | filter:search">
    		<td ng-repeat="item in entry">
    			{{item}}
    		</td>
    	</tr>
    </tbody>
	</table> 
</div>
