<!-- <h1>Data Example</h1>

<div class="alert alert-warning" role="alert">This is only an example to show the paring of the CSV files. It is not the proposed content for this site.
<br/><b>Note:</b> table is to large -> unwanted resizing</div>
 -->
<div class="row">
    <div class="col-xs-9">
<!--         <div id="typeSelector" class="btn-group btn-group-lg" role="group" aria-label="...">
            <button type="button" class="btn btn-default active">Classes</button>
            <button type="button" class="btn btn-default">Properties</button>
        </div> -->
      <ul id="typeSelector" class="nav nav-pills" ng-controller="TypeSelectorController">
        <li role="presentation" class="{{firstActive}}"><a href="#/browse?type=classes">Classes</a></li>
        <li role="presentation" class="{{secondActive}}"><a href="#/browse?type=properties">Properties</a></li>
      </ul>
      <div ng-controller="TableController">
        <div class="p-x-2">
        	<table class="table table-condensed">
            <thead>
              <tr>
                <th ng-repeat="hitem in tableHeader">{{hitem}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in content | filter:search">
                <td class="col-xs-2">
                    {{item.id}}
                </td>
                <td class="col-xs-6">
                    {{item.label}}
                </td>
                <td class="col-xs-2">
                    {{item.numberOfInstances}}
                </td>
                <td class="col-xs-2">
                    {{item.numberOfSubclasses}}
                </td>
              </tr>
            </tbody>
        	</table> 
        </div>
        <nav id="pageSelector">
          <ul class="pagination">
            <li class="{{prevEnabled}}">
              <a href="{{prevLink}}" class="{{prevClass}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li ng-repeat="item in pagination" class="{{item[1]}}">
              <a href="#/browse?from={{(item[0]-1)*tableSize}}&to={{item[0]*tableSize}}&type={{args.type}}">{{item[0]}}</a>
            </li>
            <li class="{{nextEnabled}}">
              <a href="{{nextLink}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="col-xs-3">
    </div>
</div>