<div ng-controller="ClassViewController">
<h1><a href = {{url}}><b>{{classData.label}}</b> ({{qid}})</a></h1>
<br>
<div class="alert alert-warning" role="alert">This will be a classes view.</div>
<br>
<b>Aliases:</b> {{classData.aliases}}<br>
<b>Description:</b> {{classData.description}}<br>
<b>Image:</b> <img src = {{classData.image}}></img><br>
<b>Example instances</b>
<table>
              <tr ng-repeat="instance in exampleInstances">
                <td>
                    <a href = {{instance.uri}}>{{instance.label}}</a>
                </td>
              </tr></table>
<b>Number of direct instances: </b> {{classNumbers.instances}}<br>
<b>Number of direct subclasses: </b> {{classNumbers.subclasses}}<br>
<b>Related Properties:</b>
<table>         <tr ng-repeat="property in relatedProperties">
                <td> {{property}} </td>
              </tr></table>
</div>