<!-- <h1>Data Example</h1>

<div class="alert alert-warning" role="alert">This is only an example to show the paring of the CSV files. It is not the proposed content for this site.
<br/><b>Note:</b> table is to large -> unwanted resizing</div>
 -->
<div class="row" ng-controller="QueryController">
	<div class="col-xs-12">
		<form novalidate>
			<!-- ux assisted form -->
			<div class="form-group">
				<label for="qry-form-class">Class</label>
				<angucomplete-alt id="qry-form-class"
					placeholder="Select a class"
					pause="100"
					selected-object="selectedClass"
					local-data="classIndex"
					local-search="classSearch"
					title-field="title"
					minlength="1"
					input-class="form-control form-control-small"></angucomplete-alt>
			</div>
			<div ng-show="selectedClass" class="form-group">
				<a href="#/classview?id={{selectedClass.originalObject.qid}}">{{selectedClass.originalObject.qid}}</a>
			</div>

			<hr>
			<!-- generated sparql query -->
			<textarea class="form-control"></textarea>

		</form>
	</div>
</div>