<div id="query-interface" class="row" data-ng-controller="QueryController">
	<div class="col-xs-12">
		<form novalidate data-ng-submit="runSparql()">
			<!-- ux assisted form -->
			<div class="form-group">

				<!-- template for typeahead suggestions -->
				<script type="text/ng-template" id="qry-form-class-typeahead.html">
					<a><span ng-bind-html="match.model.title | uibTypeaheadHighlight:query"></span></a>
				</script>
				<!-- /template -->

				<label for="qry-form-class">Class</label>
				<input type="text" id="qry-form-class" class="form-control" placeholder="Select a class"
					ng-model="classSelectHandler"
					ng-model-options="classSelectModelOptions"
					typeahead-template-url="qry-form-class-typeahead.html"
					uib-typeahead="entity as entity.title for entity in classSearch($viewValue) | filter:$viewValue">
			</div>
			<div data-ng-show="qui.selectedClass" class="form-group">
				<!--<p><a href="#/classview?id={{qui.selectedClass.originalObject.qid}}">{{qui.selectedClass.originalObject.qid}}</a></p>-->
				<div class="radio-inline"><label>
   					<input type="radio" name="offspring" id="offspring-i" value="i" ng-model="qui.offspring" ng-change="buildSparql()"  checked>
   					Direct instances <span class="info-badge">{{qui.selectedClass.i}}</span>
				</label></div>
				<div class="radio-inline"><label>
   					<input type="radio" name="offspring" id="offspring-ai" value="ai" ng-model="qui.offspring" ng-change="buildSparql()">
   					Total instances <span class="info-badge">{{qui.selectedClass.ai}}</span>
				</label></div><div class="radio-inline"><label>
   					<input type="radio" name="offspring" id="offspring-s" value="s" ng-model="qui.offspring" ng-change="buildSparql()">
   					Direct subclasses <span class="info-badge">{{qui.selectedClass.s}}</span>
				</label></div><div class="radio-inline"><label>
   					<input type="radio" name="offspring" id="offspring-as" value="as" ng-model="qui.offspring" ng-change="buildSparql()">
   					Total subclasses <span class="info-badge">{{qui.selectedClass.as}}</span>
				</label></div>
			</div>

			<hr>
			<!-- generated sparql query -->
			<div data-ng-show="qui.sparqlQuery" class="form-group">
				<textarea class="form-control" rows="10" data-ng-model="qui.sparqlQuery">{{qui.sparqlQuery}}</textarea>
			</div>
			<div data-ng-show="qui.sparqlQuery" class="form-group">
				<button type="submit" class="btn" ng-class="{
					'btn-primary': !qui.queryParms.heavy || qui.queryParms.limitResults, 
					'btn-warning': qui.queryParms.heavy && !qui.queryParms.limitResults}">Run query</button>
				<label ng-show="qui.queryParms.big" class="checkbox-inline">&nbsp;
					<input type="checkbox" name="limitResults" ng-model="qui.queryParms.limitResults" ng-click="buildSparql()"> Fast query (only 10,000 results)
				</label>
			</div>
			<div class="alert alert-warning" ng-show="qui.queryParms.heavy && !qui.queryParms.limitResults">
				<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> 
				This is a pretty big query. It may work slowly or not at all. Be warned.
			</div>
		</form>

		<div class="alert alert-danger alert-dismissible" role="alert" data-ng-show="qui.queryError">
			<button type="button" class="close" ng-click="queryError = null" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<span class="glyphicon glyphicon-alert" aria-hidden="true"></span> <strong>Query failed with the following response</strong>:
  			<pre class="well-sm">{{qui.queryError}}</pre>
		</div>

		<div data-ng-show="qui.pagination.activeIndex.length" data-ng-controller="PaginationController">
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Entity</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="entity in qui.pagination.activeIndex">
						<td><a href="{{entity.url}}">{{entity.label}} ({{entity.qid}})</a></td>
						<td>{{entity.description}}</td>
					</tr>
				</tbody>
			</table>
			<div class="pagination-nav-caption">
				Showing <span class="info-badge">{{pagination.fromItem}} - {{pagination.toItem}}</span>
				of <span class="info-badge">{{pagination.numItems}}</span> results.</div>
			<nav>

				<ul class="pagination">
					<li data-ng-class="{disabled: qui.pagination.nav.prevLiDisabled()}">
						<a href="" data-ng-click="qui.pagination.nav.selectPrev()" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li ng-repeat="page in qui.pagination.nav.pages" data-ng-class="{active: qui.pagination.nav.liActive(page)}">
						<a href="" data-ng-click="pagination.nav.selectPage(page)">{{page}}</a>
					</li>
					<li data-ng-class="{disabled: qui.pagination.nav.nextLiDisabled()}">
						<a href="" data-ng-click="qui.pagination.nav.selectNext()" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>