<div class="row">
  <div class="col-md-8">
    <p>The Wikidata Class Browser provides a tool to browse the taxonomy of Wikidata. In the <i>search box</i> you can find classes. 
    In <a href="#/browse">Browse Perspective</a> you can get an overview about all classes and properties. The <a href="#/datatypes">Datatype View</a> provides information about datatypes and there properties.</p>
    <p>The data for Wikidata Class Browser was extracted with <a href="https://www.mediawiki.org/wiki/Wikidata_Toolkit">Wikidata Toolkit</a></p>
  </div>
</div>

<div class="row">
    <a href="#/browse?type=&quot;classes&quot;" class="col-xs-4 p-*-1 no-underline"><div class="wd-red link-box img-rounded"><span class="inline-headline">Classes</span>
        <br/>Browse and filter classes.
    </div></a>
    <a href="#/browse?type=&quot;properties&quot;" class="col-xs-4 p-*-1 no-underline"><div class="wd-green link-box img-rounded"><span class="inline-headline">Properties</span>
        <br/>Browse and filter properties.
    </div></a>
    <a href="#/datatypes" class="col-xs-4 p-*-1 no-underline"><div class="wd-blue link-box img-rounded"><span class="inline-headline">Datatypes</span>
        <br/>View datatypes and there properties.
    </div></a>
</div>
<hr/>
<h1>Tools</h1>