<div ng-controller="StatController">
	<div class="row">
		<div class="mainbar col-lg-9 col-md-12 col-sm-12">
		<h1>Status</h1>
		<p>This page reports on the current status of the data shown in the system.
		Data is cached in your browser. More recent data may be available on the server.
		</p>
		<p>
			Statistical data is computed from the data dump about once per week.
			Basic statisics (class and property names, usage counts for properties, direct instances of classes)
			are refreshed more frequently, about once per hour. All other data is live.
			<table class="table table-striped table-condensed">
				<tbody>
					<tr><th>Dump date</th><td>{{dumpDate}}</td></tr>
					<tr><th>Property data refresh</th><td>{{propDate}}</td></tr>
					<tr><th>Class data refresh</th><td>{{classDate}}</td></tr>
				</tbody>
			</table>
		</p>
		</div>
		<div class="sidebar col-md-3 col-md-12 col-sm-12">
			<sqid-image file="'Sepia_officinalis_(aquarium).jpg'" width="260"></sqid-image>
			<div style="text-align: center; width: 100%; ">Refreshed recently?</div>
		</div>
	</div>
</div>
