<!--<div sqid-main-nav class="collapse navbar-collapse" id="main-navbar">-->
<ul class="nav navbar-nav navbar-right">
	<li class="nav-element">
		<form class="form-horizontal ng-pristine ng-valid" role="form" id="search-form">		
				<div ng-controller="entitySearchField" class="search-field">
					<div class="right-inner-addon">
						<angucomplete-alt id="item-search"
						              placeholder="{{ 'NAV.ITEM_SEARCH' | translate }}"
						              pause="100"
						              selected-object="selectedEntity"
						              title-field="name"
						              description-field="description"
						              initial-value=""
						              minlength="1"
						              maxlength="100"
						              input-class="form-control form-control-small"
						              remote-api-handler="localSearch"></angucomplete-alt>
						<i class="glyphicon glyphicon-search"></i>
					</div>
				</div>
		</form>
	</li> 
	<li class="nav-link"><a href="#/"><span translate="NAV.START"></span></a></li>
	<li class="nav-link"><a href="#/browse?type=properties"><span translate="NAV.PROPERTIES"></span></a></li>
	<li class="nav-link"><a href="#/browse?type=classes"><span translate="NAV.CLASSES"></span></a></li>
	<li class="nav-link"><a href="#/about"><span translate="NAV.ABOUT"></span></a></li>
	<li class="nav-element">
	<div ng-controller="Login">
		<div ng-if='showLogin' class="login login-button">
			<a target="_blank" href="{{ authorizationLink }}"><button type="button" class="btn btn-primary btn-xs">{{ 'NAV.AUTHORIZE' | translate }}</button></a>
			<button type="button" ng-click="refresh()" class="btn btn-primary btn-xs"><i class="fa fa-refresh" aria-hidden="true"></i></button>
		</div>
		<div ng-if='!showLogin'>
			<div class="login login-username">
				<a>{{ username }}</a>
			</div>
			<div class="login login-button logout">
				<div ng-if='!dummy'>
				<a target="_blank" href="{{ unauthorizationLink }}"><button type="button" class="btn btn-primary btn-xs" ng-click="logout()">{{ 'NAV.UNAUTHORIZE' | translate }}</button></a>
				</div>
				<div ng-if='dummy'>
					<a><button type="button" class="btn btn-primary btn-xs" ng-click="logout()">{{ 'NAV.UNAUTHORIZE' | translate }}</button></a>
				</div>
			</div>
		</div>
	</div>
	</li>	
</ul>

	<!-- Dropdown example: -->
	<!--<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">About ICCL <b class="caret"></b></a>
		
		<ul class="dropdown-menu p-About ICCL" id="p-About ICCL">
				<li id="n-News-.26-Dates"><a href="/web/News/en">News &amp; Dates</a></li>
				<li id="n-Profile"><a href="/web/Profil/en">Profile</a></li>
				<li id="n-Research-Groups"><a href="/web/Forschungsgruppen/en">Research Groups</a></li>
				<li id="n-People"><a href="/web/Personen/en">People</a></li>
				<li id="n-Job-Offers"><a href="/web/Stellenangebote/en">Job Offers</a></li>
				<li id="n-Location-and-Contact"><a href="/web/Kontakt/en">Location and Contact</a></li>
		</ul>
	</li>-->
