<div ng-controller="ViewController">
	<div class="alert alert-danger hidden-alert" id="alert-message">
    	<span>{{alertText}}</span>
	</div>
	<div class="mainbar col-lg-9 col-md-12 col-sm-12">
		<div ng-if="entityData != null && entityData.missing == true" class="well" >
			<h2><span translate="NOSUCHENTITY_HEADLINE" translate-value-id="{{id}}"></span></h2>
			<p><span translate="NOSUCHENTITY_BODY"></span></p>
		</div>
		<div ng-if="banner" style="overflow: hidden;">
			<sqid-image file="banner" width="850"></sqid-image>
		</div>

		<div ng-if="hasEditRights" class="edit-label">
			<a  class="edit-link" data-toggle="modal" data-target="#editLabelModal">{{ 'EDITS.EDIT_LABEL' | translate }}</a>
		</div>
		<h1>{{entityData.label}} <small>(<a href="{{url}}" target="_blank">{{id}}</a>)</small></h1>
		<div ng-if="entityData.aliases.length > 0" class="aliases">
			<ul class="list-inline pipe-separated">
				<li ng-repeat="alias in entityData.aliases">{{alias}}</li>
			</ul>
		</div>
		<div class="lead entity-description">
			<div ng-bind-html="richDescription"></div>
		</div>
		<div style="margin-bottom: 15px;">
			<div ng-if="propertyDatatype !== null">
				<b><span translate="PROPTYPE"></span>:</b>
				{{propertyDatatype}}
			</div>
			<div ng-if="superPropertyCount > -1">
				<b><a href="{{subpropertyOfUrl}}">{{subpropertyOfLabel}}</a>:</b>
				<span ng-if="superPropertyCount > 0" translate="SUBPROPERTY_OF_PHRASE" translate-value-entity="{{entityData.labelorid}}" translate-value-properties="{{superPropertiesHtml}}" translate-compile></span>
				<span ng-if="superPropertyCount == 0" translate="NO_SUBPROPERTY_OF_PHRASE" translate-value-entity="{{entityData.labelorid}}"></span>
			</div>
			<div ng-if="directSubclasses > 0 || superClassCount > 0">
				<b><a href="{{subclassOfUrl}}">{{subclassOfLabel}}</a>:</b>
				<span ng-if="superClassCount > 0" translate="SUBCLASS_OF_PHRASE" translate-value-entity="{{entityData.labelorid}}" translate-value-classes="{{superClassesHtml}}" translate-compile></span>
				<span ng-if="superClassCount == 0" translate="NO_SUBCLASS_OF_PHRASE" translate-value-entity="{{entityData.labelorid}}"></span>
			</div>
			<div ng-if="instanceClassCount >= 0">
				<b><a href="{{instanceOfUrl}}">{{instanceOfLabel}}</a>:</b>
				<span ng-if="instanceClassCount > 0" translate="INSTANCE_OF_PHRASE" translate-value-entity="{{entityData.labelorid}}" translate-value-classes="{{instanceClassesHtml}}" translate-compile></span>
				<span ng-if="instanceClassCount == 0" translate="NO_INSTANCE_OF_PHRASE" translate-value-entity="{{entityData.labelorid}}"></span>
			</div>
		</div>

		<div ng-if="!isItem" class="panel panel-info">
			<div class="panel-heading" data-toggle="collapse" data-target="#property_panel"><h2 class="panel-title">
			<a style="cursor:pointer;cursor:hand"><span translate="SEC_PROP_USE"></span></a>
			</h2></div>
			<div id='property_panel' class='panel-collapse collapse in'>
				<table class="table table-striped table-condensed property-table">
					<tbody>
						<tr>
							<th><span uib-tooltip="{{translations.PROP_ENTITIES_HINT}}"><span translate="SEC_PROP_USE.ENTITIES"></span></span></th>
							<td>{{propertyItemCount}}
								<div ng-if="propertyItemCount>0">
									<div ng-if="examplePropertyItems===null" style="padding: 20px;">
										<i><span translate="SEC_PROP_USE.LOADING_ENTITIES"></span></i>
									</div>
									<div ng-if="examplePropertyItems.length === 0" style="padding: 20px;">
										<i><span translate="SEC_PROP_USE.NO_ENTITIES"></span></i>
									</div>
									<div ng-if="examplePropertyItems.length > 0">
										<div class="four-lines">
											<ul class="list-inline comma-separated">
												<li ng-repeat="entity in examplePropertyItems">
													<a href="{{entity.uri}}">{{entity.label}}</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</td>
						</tr>
						<tr ng-if="examplePropertyValues !== null">
							<th><span uib-tooltip="{{translations.PROP_VALUES_HINT}}"><span translate="SEC_PROP_USE.VALUES"></span></span></th>
							<td>
								<ul class="list-inline comma-separated">
									<li ng-repeat="entity in examplePropertyValues">
										<a href= {{entity.uri}}>{{entity.label}}</a>
									</li>
								</ul>
							</td>
						</tr>
						<tr>
							<th><span uib-tooltip="{{translations.TYPICAL_PROPS_HINT_PROP}}"><span translate="TYPICAL_PROPS"></span></span></th>
							<td>
								<div ng-if="relatedProperties.length > 0" class="four-lines">
									<ul class="list-inline comma-separated">
										<li ng-repeat="property in relatedProperties">
											<a href= {{property.url}}>{{property.label}}</a>
										</li>
									</ul>
								</div>
								<span ng-if="relatedProperties.length == 0"><i><span translate="TYPICAL_PROPS.NONE"></span></i></span>
							</td>
						</tr>
						<tr>
							<th><span uib-tooltip="{{translations.PROP_STATEMENTS_HINT}}"><span translate="SEC_PROP_USE.STATEMENTS"></span></span></th>
							<td>{{propertyStatementCount}} <span translate="SEC_PROP_USE.STATEMENTS_PER_ENTITY" translate-value-number="{{propertyAverageStatements}}"></span>
							</td>
						</tr>
						<tr>
							<th><span uib-tooltip="{{translations.PROP_QUALIFIERS_HINT}}"><span translate="SEC_PROP_USE.QUALIFIERS"></span></span></th>
							<td>
								<div ng-if="propertyQualifiers.length > 0" class="four-lines">
								<ul class="list-inline comma-separated" style="">
									<li ng-repeat="entity in propertyQualifiers">
										<a href = {{entity.url}}>{{entity.label}}</a> <span class="info-badge">{{entity.count}}</span>
									</li>
								</ul>
								</div>
								<span ng-if="propertyQualifiers.length == 0"><i>none</i></span>
							</td>
						</tr>
						<tr>
							<th><span translate="SEC_PROP_USE.QUALIFIER_USES"></span></th>
							<td>{{propertyQualifierCount}}</td>
						</tr>
						<tr>
							<th><span translate="SEC_PROP_USE.REFERENCE_USES"></span></th>
							<td>{{propertyReferenceCount}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div ng-if="directInstances > 0 || allInstances > 0" class="panel panel-info">
			<div class="panel-heading" data-toggle="collapse" data-target="#instances_panel"><h2 class="panel-title">
			<a style="cursor:pointer;cursor:hand"><span translate="SEC_INSTANCES"></span></a>
			</h2></div>
			<div id='instances_panel' class='panel-collapse collapse in'>
				<table class="table table-striped table-condensed property-table">
					<tbody>
						<tr>
							<th><span translate="SEC_INSTANCES.DIRECT_INSTANCES"></span></th>
							<td>{{directInstances}}
								<div ng-if="directInstances>0">
									<div ng-if="exampleInstances===null" style="padding: 20px;">
										<i><span translate="SEC_INSTANCES.LOADING_DIRECT_INSTANCES"></span></i>
									</div>
									<div ng-if="exampleInstances.length === 0" style="padding: 20px;">
										<i><span translate="SEC_INSTANCES.NO_DIRECT_INSTANCES"></span></i>
									</div>
									<div ng-if="exampleInstances.length > 0">
										<div class="four-lines">
											<ul class="list-inline comma-separated">
												<li ng-repeat="instance in exampleInstances">
													<a href="{{instance.uri}}">{{instance.label}}</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<th><span uib-tooltip="{{translations.ALL_INSTANCES_HINT}}"><span translate="SEC_INSTANCES.ALL_INSTANCES"></span></span></th>
							<td>{{allInstances}}</td>
						</tr>
						<tr>
							<th><span uib-tooltip="{{translations.TYPICAL_PROPS_HINT_CLASS}}"><span translate="TYPICAL_PROPS"></span></span></th>
							<td>
								<div ng-if="relatedProperties.length > 0" class="four-lines">
									<ul class="list-inline comma-separated">
										<li ng-repeat="property in relatedProperties">
											<a href= {{property.url}}>{{property.label}}</a>
										</li>
									</ul>
								</div>
								<span ng-if="relatedProperties.length == 0"><i><span translate="TYPICAL_PROPS.NONE"></span></i></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div ng-if="directSubclasses > 0 || superClassCount > 0" class="panel panel-info">
			<div class="panel-heading" data-toggle="collapse" data-target="#classes_panel"><h2 class="panel-title">
			<a style="cursor:pointer;cursor:hand"><span translate="SEC_CLASSIFICATION"></span></a>
			</h2></div>

			<div id='classes_panel' class='panel-collapse collapse in'>
				<table class="table table-striped table-condensed property-table">
					<tbody>
						<tr>
							<th><span translate="SEC_CLASSIFICATION.DIRECT_SUPERCLASSES"></span></th>
							<td><span ng-if="superClassCount > 0" sqid-compile="superClassesHtmlWithCounts"></span>
								<i ng-if="superClassCount == 0"><span translate="SEC_CLASSIFICATION.NO_DIRECT_SUPERCLASSES"></span></i>
							</td>
						</tr>
						<tr>
							<th><span translate="SEC_CLASSIFICATION.DIRECT_SUBCLASSES"></span></th>
							<td>
								<uib-tabset ng-if="directSubclasses > 0 && subclassActiveTab >= 0" active="subclassActiveTab">
									<uib-tab index="0" title="{{translations.INSTANCE_SUBCLASSES_HINT}}" disable="instanceSubclasses.length == 0">
										<uib-tab-heading>
											<span translate="SEC_CLASSIFICATION.DIRECT_SUBCLASSES_INSTANCE"></span> <span class="info-badge">{{instanceSubclasses.length}}</span>
										</uib-tab-heading>
										<ul ng-if="instanceSubclasses.length > 0" class="list-inline comma-separated padded-tabcontent" style="">
											<li ng-repeat="subclass in instanceSubclasses">
												<a href = {{subclass.url}}>{{subclass.label}}</a> <span class="info-badge">{{subclass.count}}</span>
											</li>
										</ul>
									</uib-tab>
									<uib-tab index="1" title="{{translations.SUBCLASS_SUBCLASSES_HINT}}" disable="subclassSubclasses.length == 0">
										<uib-tab-heading>
											<span translate="SEC_CLASSIFICATION.DIRECT_SUBCLASSES_SUBCLASS"></span> <span class="info-badge">{{subclassSubclasses.length}}</span>
										</uib-tab-heading>
										<ul ng-if="subclassSubclasses.length > 0" class="list-inline comma-separated padded-tabcontent" style="">
											<li ng-repeat="subclass in subclassSubclasses">
												<a href = {{subclass.url}}>{{subclass.label}}</a> <span class="info-badge">{{subclass.count}}</span>
											</li>
										</ul>
									</uib-tab>
									<uib-tab index="2">
										<uib-tab-heading >
											<span translate="SEC_CLASSIFICATION.DIRECT_SUBCLASSES_ALL"></span> <span class="info-badge">{{directSubclasses}}</span>
										</uib-tab-heading>
										<div ng-if="exampleSubclasses===null" class="padded-tabcontent">
											<i><span translate="SEC_CLASSIFICATION.LOADING_DIRECT_SUBCLASSES"></span></i>
										</div>
										<div ng-if="exampleSubclasses.length > 0">
											<ul class="list-inline comma-separated padded-tabcontent">
												<li ng-repeat="subclass in exampleSubclasses">
													<a href = {{subclass.uri}}>{{subclass.label}}</a>
												</li>
											</ul>
										</div>
									</uib-tab>
								</uib-tabset>
								<i ng-if="directSubclasses == 0"><span translate="SEC_CLASSIFICATION.NO_DIRECT_SUBCLASSES"></span></i>
							</td>
						</tr>
						<tr>
							<th><span uib-tooltip="{{translations.ALL_SUBCLASSES_HINT}}"><span translate="SEC_CLASSIFICATION.ALL_SUBCLASSES"></span></span></th>
							<td>{{allSubclasses}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<sqid-statement-table ng-if="entityData !== null" data="entityData" indata="entityInData" title="{{'SEC_HUMAN_RELATIONS'|translate}}" show="family"></sqid-statement-table>

		<sqid-statement-table ng-if="entityData !== null" data="entityData" indata="entityInData" title="{{'SEC_STATEMENTS'|translate}}" show="other"></sqid-statement-table>

		<sqid-statement-table ng-if="entityData !== null" data="entityData" indata="entityInData" title="{{'SEC_MEDIA'|translate}}" show="media"></sqid-statement-table>

		<sqid-statement-table ng-if="entityData !== null" data="entityData" indata="entityInData" title="{{'SEC_WIKIMEDIA_PAGES'|translate}}" show="wiki"></sqid-statement-table>
	</div>
	<div class="sidebar col-md-3 col-md-12 col-sm-12">
		<div ng-if="entityData != null && entityData.missing == true" style="padding-bottom: 15px;">
			<sqid-image file="'Colossal octopus by Pierre Denys de Montfort.jpg'" width="260"></sqid-image>
		</div>
		<div ng-if="images[0]" style="padding-bottom: 15px;">
			<sqid-image file="images[0]" width="260"></sqid-image>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading"><h2 class="panel-title">
				<span translate="SEC_LINKS"></span>
			</h2></div>
			<div>
				<table class="table table-striped table-condensed">
					<tbody>
						<tr><th><a href="{{url}}" target="_blank"><span translate="SEC_LINKS.WIKIDATA"></span></a></th></tr>
						<tr ng-if="homepage"><th><a href="{{homepage}}" target="_blank"><span translate="SEC_LINKS.WEBSITE"></span></a></th></tr>
						<tr ng-if="urlWikipedia"><th><a href="{{urlWikipedia}}" target="_blank"><span translate="SEC_LINKS.WIKIPEDIA"></span></a></th></tr>
						<tr><th><a href="{{urlReasonator}}" target="_blank"><span translate="SEC_LINKS.REASONATOR"></span></a></th></tr>
					</tbody>
				</table>
			</div>
		</div>
		<sqid-statement-table ng-if="entityData !== null" data="entityData" show="ids" narrow="1" title="{{'SEC_IDENTIFIERS'|translate}}"></sqid-statement-table>
	</div>

<!-- Modals -->

<div class="modal fade" id="editLabelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalLabelTitle">{{ 'MODALS.TITLE_EDIT_LABEL' | translate }}</h4>
      </div>
      <div class="modal-body">
	<div class="form-group">
	  <label for="labelEditField" class="normal-weight">{{ 'MODALS.CAPTION_EDIT_LABEL' | translate }} {{id}}</label>
	  <input type="text" class="form-control" placeholder="{{entityData.label}}" id="labelEditField" ng-model="newLabel">
	  <div class="modal-notes"><label class="normal-weight">({{ 'MODALS.CAPTION_LANGUAGE' | translate }} {{ lang }})</label></div>
	   <label ng-if="modalResponse" class="{{modalResponseClass}}">{{modalResponse}}</label>
	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal()">{{ 'MODALS.CLOSE' | translate }}</button>
        <button type="button" class="btn btn-primary" ng-click="editLabel()">{{ 'MODALS.SAVE_CHANGES' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editAliasesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalAliasesTitle">{{ 'MODALS.TITLE_EDIT_ALIASES' | translate }}</h4>
      </div>
      <div class="modal-body">
	<div class="form-group">
	   <label ng-if="modalResponse" class="{{modalResponseClass}}">{{modalResponse}}</label>
	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal()">{{ 'MODALS.CLOSE' | translate }}</button>
        <button type="button" class="btn btn-primary" ng-click="editLabel()">{{ 'MODALS.SAVE_CHANGES' | translate }}</button>
      </div>
    </div>
  </div>
</div>

</div>
