body{
    font-family: 'Roboto', sans-serif;
}

.footer {
	text-align: center;
	color: #666;
	margin-bottom: 500px; /* make it big enough to ensure we see scroll bars at all times; avoid jumping layout */
}

#icon{
	width: 100px;
	margin: 5px;
}

#header-title{
	color: #777777;
	font-size: 1.5em;
	margin-top: 10px;
	width: 200px;
	font-weight: 900;
    font-family: 'Roboto', sans-serif;
}
#search-box{
	margin-top: 5px;
}

#lang-selection{
	padding: 5px 0px;
    cursor: pointer;
}

#typeSelector{
    margin-top: 10px;
    margin-bottom: 20px;
}

#pageSelector{
    margin-top: 10px;
    margin-bottom: 20px;
}

/*.nav-bar-sides{
	height: 100%;
}*/

.nav-link{
	position: absolute;
	bottom: 0;
	font-size: 1em;
}

.navbar-default{

/*background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 73%, rgba(227,224,227,1) 92%, rgba(240,240,240,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(73%, rgba(235,235,235,1)), color-stop(92%, rgba(227,224,227,1)), color-stop(100%, rgba(240,240,240,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 73%, rgba(227,224,227,1) 92%, rgba(240,240,240,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 73%, rgba(227,224,227,1) 92%, rgba(240,240,240,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 73%, rgba(227,224,227,1) 92%, rgba(240,240,240,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 73%, rgba(227,224,227,1) 92%, rgba(240,240,240,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0 );*/

/*background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 81%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(81%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 81%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 81%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 81%, rgba(237,237,237,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 81%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );*/
	background: rgba(255,255,255,1);
}

/*#navigation{
	height: 100px;
}*/

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    width: 180px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 1.4em;
}

#head-browse{
    height: 60px;
}

#filter-menue{
    margin-top: 100px;
}

.wd-red{
    background-color: #960000;
    color: #fff;
}


.wd-green{
    background: #339966;
    color: #fff;
}


.wd-blue{
    background: #006699;
    color: #fff;
}

.link-box{
    padding: 5px;
    border: 1px solid #e7e7e7;
}

.link-box:hover{
    border: 1px solid #888;
    box-shadow: 0px 0px 2px #88f;
}
.no-underline:hover{
    text-decoration: none;
}

.inline-headline{
    font-size: 1.2em;
    font-weight: 900;
}

.not-active{
    pointer-events: none;
}

.mainbar {
	margin-right: -1px;
    margin-bottom: 10px;
    border-right: 1px solid #DDD;
    padding-right: 5px;
	border-style: collapse;
}
.sidebar {
    margin-bottom: 10px;
    border-left: 1px solid #DDD;
    padding-left: 5px;
	border-style: collapse;
}

.aliases {
    color: #999999;
    margin-bottom: 5px;
	margin-top: -10px;
}
.aliases ul {
    margin-bottom: 0px;
}

/* Collapsible panels */
.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";    
    float: right; 
    color: grey; 
}
.panel-heading a.collapsed:after {
    content: "\e080";
}

.padded {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
}

.entity-description {
	font-size: 1.3em;
}

.table-condensed {
	margin-bottom: 0px;
}

.list-inline {
	margin-bottom: 0px;
}

.list-inline.comma-separated li {
	padding-right: 0px;
}
.list-inline.comma-separated li::after {
	content: ",";
}
.list-inline.comma-separated li:last-child::after {
	content: "";
}

.list-inline.pipe-separated li {
	padding-right: 0px;
}
.list-inline.pipe-separated li::after {
	content: " |";
}
.list-inline.pipe-separated li:last-child::after {
	content: "";
}

.label-pill {
	padding-right: .6em;
	padding-left: .6em;
	border-radius: 10rem;
}

.info-badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
/*    color: #000;
	background-color: #777;*/
	color: #31708f;
	background-color: #d9edf7;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
}

.four-lines {
	overflow: auto;
	max-height: 80px;
}
.four-lines ul {
	margin-bottom: 0px;
}

span.smallnote {
    font-size: 0.8em;
    color: #444;
}

.property-table th {
	width: 20%;
}

.ext-link {
	color: #2A5C86;
	margin-right: 5px;
}
.ext-link::after {
	font-family: FontAwesome;
	font-size: 80%;
	content: "\f08e";
	position: relative;
	top: 1px;
	left: 4px;
}

