body{
    font-family: 'Roboto', sans-serif;
}

#icon{
	width: 100px;
	margin: 5px;
}

#header-title{
	color: #777777;
	font-size: 1.5em;
	margin-top: 10px;
	width: 200px;
	font-weight: 900;
    font-family: 'Roboto', sans-serif;
}
#search-box{
	margin-top: 5px;
}

#lang-selection{
	padding: 5px 0px;
    cursor: pointer;
}

#typeSelector{
    margin-top: 10px;
    margin-bottom: 20px;
}

#pageSelector{
    margin-top: 10px;
    margin-bottom: 20px;
}

.nav-bar-sides{
	height: 100%;
}

.nav-link{
	position: absolute;
	bottom: 0;
	font-size: 1em;
}

.navbar-default{

/*background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 73%, rgba(227,224,227,1) 92%, rgba(240,240,240,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(73%, rgba(235,235,235,1)), color-stop(92%, rgba(227,224,227,1)), color-stop(100%, rgba(240,240,240,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 73%, rgba(227,224,227,1) 92%, rgba(240,240,240,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 73%, rgba(227,224,227,1) 92%, rgba(240,240,240,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 73%, rgba(227,224,227,1) 92%, rgba(240,240,240,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 73%, rgba(227,224,227,1) 92%, rgba(240,240,240,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0 );*/

/*background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 81%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(81%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 81%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 81%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 81%, rgba(237,237,237,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 81%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );*/
background: rgba(255,255,255,1);
}

#navigation{
	height: 100px;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    width: 180px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 1.4em;
}

#head-browse{
    height: 60px;
}

#filter-menue{
    margin-top: 100px;
}

.wd-red{
    background-color: #960000;
    color: #fff;
}


.wd-green{
    background: #339966;
    color: #fff;
}


.wd-blue{
    background: #006699;
    color: #fff;
}

.link-box{
    padding: 5px;
    border: 1px solid #e7e7e7;
}

.link-box:hover{
    border: 1px solid #888;
    box-shadow: 0px 0px 2px #88f;
}
.no-underline:hover{
    text-decoration: none;
}

.inline-headline{
    font-size: 1.2em;
    font-weight: 900;
}

.not-active{
    pointer-events: none;
}
