<table class="table table-condensed">
    <thead>
        <tr>
            <th ng-repeat="hitem in tableHeader">{{hitem}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in content | filter:search">  
            <td class="col-xs-2">
                {{item.id}}
            </td>
            <td class="col-xs-6">
                {{item.label}}
            </td>
            <td class="col-xs-2">
                {{item.numberOfInstances}}
            </td>
            <td class="col-xs-2">
                {{item.numberOfSubclasses}}
            </td>
        </tr>
    </tbody>
</table>
