<table class="table table-condensed">
    <thead>
        <tr>
            <th ng-repeat="hitem in tableHeader">{{hitem}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="property in content | filter:search">  
            <td class="col-xs-1">
                {{property.id}}
            </td>
            <td class="col-xs-5">
                {{property.label}}
            </td>
            <td class="col-xs-2">
                {{property.usesStatements}}
            </td>
            <td class="col-xs-2">
                {{property.usesQualifiers}}
            </td>
            <td class="col-xs-2">
                {{property.usesReferences}}
            </td>
        </tr>
    </tbody>
</table>
